<div class="jumbotron">
    <h1>ASP.NET</h1>
    
</div>
<textarea id="editor" name="editor"></textarea>

<script src="~/Scripts/codemirror.js"></script>
<script src="~/Scripts/python.js"></script>
<script src="~/Scripts/addon/edit/matchbrackets.js"></script>
<link rel="stylesheet" href="~/Content/codemirror.css">
<link rel="stylesheet" href="~/Content/docs.css">
<script type="text/javascript">
    var myTextarea = document.getElementById('editor');
    var CodeMirrorEditor = CodeMirror.fromTextArea(myTextarea, {
        mode: {
            name: "python",
            version: 3,
            singleLineStringErrors: false
        },
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true
    });

</script>